.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

.portfolio-image > img {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-title {
    margin: 20px 0;
}

.project-links {
    margin: 10px 0px;
}

.btn {
  padding: 10px;
  background-color: var(--bright-green);
  color: var(--dark-blue);
  margin: 15px;
  border-radius: 5px;
  font-weight: 600;
}

.btn:hover {
    background-color: var(--gray);
    
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .portfolio-image > img {
    width: 40%;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200) {
}
