.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.portfolio-image > img {
    width: 50%;
}

.btn {
    padding: 10px;
}