.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.portfolio-image > img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 10px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .portfolio-image > img {
    width: 40%;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200) {
}
