/* reset */
a {
  text-decoration: none;
  color: var(--lightest-green);
}

/* navigation bar */
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 30px;
  margin: 10px 10px 18px 10px;
}

hr {
  width: 95%;
  border: 1px solid var(--teal);
}

.links {
  font-size: 20px;
  margin-top: 20px;
}

.item-link {
  margin: 20px 32px;
  padding: 10px 16px;
}

.item-link:hover {
  margin: 20px 32px;
  background-color: var(--teal);
  border-radius: 10px;
  color: white;
}

a:hover {
  color: var(--bright-green);
}

.name:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .hide {
    display: inline;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  hr {
    display: none;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 5px 25px 5px;
  }

  .name {
    font-size: 40px;
    margin: 0;
  }

  .links {
    margin-top: 0;
  }

  .item-link {
    margin: 0 32px;
    padding: 10px 22px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200) {
}
