/* reset */
a {
    text-decoration: none;
    color: var(--lightest-green);
}

/* navigation bar */
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
    font-size: 30px;
    margin: 10px;
}

.links {
    font-size: 20px;
    margin-top: 20px;
}

.item-link {
    margin: 20px 20px;
}

a:hover {
  color: var(--bright-green);
}

.name:hover {
  cursor: pointer;
}

.hide {
    display: none;
}

/* small tablet styles */
@media screen and (min-width: 620px){
    .hide {
        display: inline;
    }
  }
  
  /* large tablets and laptop styles */
  @media screen and (min-width: 960px){
    
  }
  
  /* desktop styles */
  @media screen and (min-width: 1200){
    
  }