.skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--teal);
}

.skills-header,
.cv-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.skills-header {
  color: var(--lightest-green);
  font-size: 25px;
  font-weight: 800;
  margin: 30px 0;
}

.skills-card {
  background-color: var(--lightest-green);
  width: 60%;
  padding: 0 30px 0 30px;
  border-radius: 10px;
  margin: 15px 0;
}

.skills-title {
  color: var(--teal);
  text-align: center;
  margin: 15px 0;
}

.dark-hr {
  border: 1px solid var(--gray);
  margin: 10px 0;
  width: 100%;
}

ul {
  margin: 15px 10px;
}

li {
  color: var(--teal);
  font-size: 18px;
  line-height: 30px;
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  .skills-container {
    flex-direction: row;
  }
  .skills-card {
    width: 20%;
    margin: 10px;
    height: 415px;
  }
}