.skills-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills-header, .cv-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.skills-card {

}

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200) {
}
