

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200) {
}
