@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Roboto&display=swap');

/* font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #06283D;
  color: #DFF6FF;
}

.navbar {
  padding: 20px;
}

/* small tablet styles */
@media screen and (min-width: 620px){

}

/* large tablets and laptop styles */
@media screen and (min-width: 960px){
  
}

/* desktop styles */
@media screen and (min-width: 1200){
  
}