@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Roboto&display=swap');

/* font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif; */

/* variables */
:root {
  --dark-blue: #06283D;
  --bright-green: #8FE3CF;
  --lightest-green: #DFF6FF;
  --teal: #256D85;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-blue);
  color: var(--lightest-green);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-image > img{
  width: 40%;
  padding: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-text {
  font-size: 20px;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 32px;
}

.icon {
  padding: 30px 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 25px;
}

/* small tablet styles */
@media screen and (min-width: 620px){
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
  }

  .profile-image > img{
    width: 70%;
  }

  .profile-text {
    font-size: 20px;
    padding: 25px 35px;
    margin-right: 5%;
    line-height: 32px;
    background-color: var(--teal);
    border-radius: 10px;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px){
  .profile-image > img{
    max-width: 530px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200){
  
}