@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Roboto&display=swap');

/* font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif; */

/* variables */
:root {
  --dark-blue: #06283D;
  --bright-green: #8FE3CF;
  --lightest-green: #DFF6FF;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--dark-blue);
  color: var(--lightest-green);
}

/* small tablet styles */
@media screen and (min-width: 620px){

}

/* large tablets and laptop styles */
@media screen and (min-width: 960px){
  
}

/* desktop styles */
@media screen and (min-width: 1200){
  
}